.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.nav-companies-session {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 1400px;
}

hr {
    padding: 0px;
    margin: 0px;
}